xuse2_reqs/xusexsds/document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
        © Copyright 2005-2010, Mike Odling-Smee.  All rights reserved.
        
        Licensed under the Artistic License: 
        http://www.opensource.org/licenses/artistic-license.php
        
Preamble

        The intent of this document is to state the conditions under which a 
        Package may be copied, such that the Copyright Holder maintains some 
        semblance of artistic control over the development of the package, while 
        giving the users of the package the right to use and distribute the Package
            in a more-or-less customary fashion, plus the right to make reasonable 
        modifications.

Definitions:

        * "Package" refers to the collection of files distributed by the 
        Copyright Holder, and derivatives of that collection of files created 
        through textual modification. 

        * "Standard Version" refers to such a Package if it has not been modified, 
        or has been modified in accordance with the wishes of the Copyright Holder.

        * "Copyright Holder" is whoever is named in the copyright or copyrights for
        the package. 

        * "You" is you, if you're thinking about copying or distributing this Package.

        * "Reasonable copying fee" is whatever you can justify on the basis of 
        media cost, duplication charges, time of people involved, and so on. 
        (You will not be required to justify it to the Copyright Holder, but 
        only to the computing community at large as a market that must bear the 
        fee.) 

        * "Freely Available" means that no fee is charged for the item 
        itself, though there may be fees involved in handling the item. It also 
        means that recipients of the item may redistribute it under the same 
        conditions they received it.

        1. You may make and give away verbatim copies of the source form of the Standard 
        Version of this Package without restriction, provided that you duplicate all of 
        the original copyright notices and associated disclaimers.
        
        2. You may apply bug fixes, portability fixes and other modifications derived 
        from the Public Domain or from the Copyright Holder. A Package modified in such 
        a way shall still be considered the Standard Version.
        
        3. You may otherwise modify your copy of this Package in any way, provided that 
        you insert a prominent notice in each changed file stating how and when you 
        changed that file, and provided that you do at least ONE of the following:
        
                a) place your modifications in the Public Domain or otherwise make them 
                Freely Available, such as by posting said modifications to Usenet or an 
                equivalent medium, or placing the modifications on a major archive site such 
                as ftp.uu.net, or by allowing the Copyright Holder to include your modifications 
                in the Standard Version of the Package.
        
                b) use the modified Package only within your corporation or organization.
        
                c) rename any non-standard executables so the names do not conflict with 
                standard executables, which must also be provided, and provide a separate 
                manual page for each non-standard executable that clearly documents how it 
                differs from the Standard Version.
        
                d) make other distribution arrangements with the Copyright Holder.
        
        4. You may distribute the programs of this Package in object code or executable 
        form, provided that you do at least ONE of the following:
        
                a) distribute a Standard Version of the executables and library files, 
                together with instructions (in the manual page or equivalent) on where to 
                get the Standard Version.
        
                b) accompany the distribution with the machine-readable source of the 
                Package with your modifications.
        
                c) accompany any non-standard executables with their corresponding Standard 
                Version executables, giving the non-standard executables non-standard names, 
                and clearly documenting the differences in manual pages (or equivalent), 
                together with instructions on where to get the Standard Version.
        
                d) make other distribution arrangements with the Copyright Holder.
        
        5. You may charge a reasonable copying fee for any distribution of this Package. 
        You may charge any fee you choose for support of this Package. You may not 
        charge a fee for this Package itself. However, you may distribute this Package 
        in aggregate with other (possibly commercial) programs as part of a larger 
        (possibly commercial) software distribution provided that you do not advertise 
        this Package as a product of your own.
        
        6. The scripts and library files supplied as input to or produced as output from 
        the programs of this Package do not automatically fall under the copyright of 
        this Package, but belong to whomever generated them, and may be sold 
        commercially, and may be aggregated with this Package.
        
        7. C or perl subroutines supplied by you and linked into this Package shall not 
        be considered part of this Package.
        
        8. The name of the Copyright Holder may not be used to endorse or promote 
        products derived from this software without specific prior written permission.
        
        9. THIS PACKAGE IS PROVIDED "AS IS" AND WITHOUT ANY EXPRESS OR IMPLIED 
        WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF 
        MERCHANTIBILITY AND FITNESS FOR A PARTICULAR PURPOSE.

The End
        
        Created: Mike Odling-Smee
        $Author: odlingsmee $
        $Revision: 1.15 $ $Date 2006/01/14 16:16:06$
        Log: $Log: document.xsd,v $
        Log: Revision 1.15  2010/02/18 13:01:54  odlingsmee
        Log: Trying to sort out schema issues
        Log:
        Log: Revision 1.14  2010/01/22 16:58:53  odlingsmee
        Log: Completed intial version XInclude support.
        Log:
        Log: Revision 1.13  2010/01/18 00:31:29  odlingsmee
        Log: Added the ability to have section links as well as fixing a couple of minor issues.
        Log:
        Log: Revision 1.12  2010/01/15 15:14:51  odlingsmee
        Log: Improved replacement text functionality such that it can be used throughout.
        Log:
        Log: Revision 1.11  2009/07/07 23:19:00  odlingsmee
        Log: Added support for custom taxonomies on use-cases
        Log:
        Log: Revision 1.10  2009/07/07 21:51:33  odlingsmee
        Log: Ongoing work to for generic document construction
        Log:
        Log: Revision 1.9  2009/07/04 08:21:52  odlingsmee
        Log: Added taxonomy based filter
        Log:
        Log: Revision 1.8  2007/04/01 23:31:15  odlingsmee
        Log: Updated support for generic document publication in HTML - specifically for the vision document.
        Log:
        Log: Revision 1.7  2007/03/24 23:27:03  odlingsmee
        Log: Added intial support for generic document publication in HTML inclusing linking from project browser.
        Log:
        Log: Revision 1.6  2007/03/24 21:29:10  odlingsmee
        Log: Fixed schemas and improved validation coverage.
        Log:
        Log: Revision 1.5  2007/03/18 23:44:04  odlingsmee
        Log: Added initial classes to perform schema validation.
        Log:
        Log: Revision 1.4  2007/03/13 23:49:14  odlingsmee
        Log: Created the inital drafts of the document schema that will form the basis of all generic Xuse documents.
        Log:
        Log: Revision 1.3  2007/03/11 19:35:35  odlingsmee
        Log: Updated model to allow for extensibility (i.e. the model can be extended using foreign namespaces).
        Log:
        Log: Revision 1.2  2006/03/20 21:27:19  odlingsmee
        Log: Fixed a few issues with the schemas as well as updated some documentation
        Log:
        Log: Revision 1.1  2006/03/18 17:09:54  odlingsmee
        Log: Initial schema work for a document
        Log:
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns:xuse="http://xuse.sourceforge.net" 
		xmlns:xhtml="http://www.w3.org/1999/xhtml"
		targetNamespace="http://xuse.sourceforge.net" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">
	
	<xs:include schemaLocation="data-types.xsd"/>
    <xs:include schemaLocation="xhtml-data-types-subset.xsd"/>
	
	
	<xs:element name="document" type="xuse:documentType">
		<xs:annotation>
			<xs:documentation>Generic document root node</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="p" type="xuse:paragraphType"/>
	<xs:element name="section" type="xuse:sectionType"/>
	
	<xs:complexType name="documentType">
		<xs:sequence>
			<xs:element name="document-information" type="xuse:documentInformationType"/>
			<xs:element name="distribution" type="xuse:documentDistibutionType" minOccurs="0"/>
			<xs:element ref="xuse:document-history"/>
			<xs:choice maxOccurs="unbounded">
			     <xs:element ref="xuse:section" />
			     <xs:any processContents="skip" namespace="##other"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="model-version" fixed="0.3" use="required"/>
		<xs:attribute name="document-type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string" >
					<xs:enumeration value="vision-document"/>
					<xs:enumeration value="software-requirements-specification"/>
					<xs:enumeration value="functional-requirements-specification"/>
					<xs:enumeration value="technical-specification"/>
					<xs:enumeration value="system-architecture-specification"/>
					<xs:enumeration value="generic"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:anyAttribute processContents="lax" namespace="##other"/>
	</xs:complexType>
	
	<xs:complexType name="documentInformationType">
		<xs:sequence>
			<xs:element ref="xuse:title">
				<xs:annotation>
					<xs:documentation>The title of the document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="xuse:author">
				<xs:annotation>
					<xs:documentation>Who is/are the primary author(s) of this document?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="project" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of the project that this document belongs to e.g. Xuse</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="document-reference" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An (optional) unique reference number for this document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="owner" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The person or department that "owns" this document - this may be different to the document author.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="customer" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Who is the customer for this document (if any)?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="release" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If this document currently focuses on a particular release of software - document that release here</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:anyAttribute processContents="lax" namespace="##other"/>
	</xs:complexType>
	
	<xs:complexType name="documentDistibutionType">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="xuse:stakeholder-ref"/>
			<xs:element name="reviewer" type="xuse:documentReviewerType"/>
			<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:anyAttribute processContents="lax" namespace="##other"/>
	</xs:complexType>
				
	<xs:complexType name="documentReviewerType">
		<xs:sequence>
			<xs:element name="who"/>
			<xs:element name="role" type="xuse:roleType" minOccurs="0"/>
			<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute processContents="skip" namespace="##other"/>
	</xs:complexType>
	
	<xs:complexType name="paragraphType" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en-GB">This is a generic paragraph</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:element ref="xuse:annotation" minOccurs="0" maxOccurs="unbounded"/>		
				<xs:choice minOccurs="0" maxOccurs="unbounded">		
				    <xs:element ref="xuse:p"/>
				    <xs:any processContents="lax" namespace="http://www.w3.org/2001/XInclude"/>
				</xs:choice>
		   </xs:sequence>
			<xs:sequence>
				<xs:element ref="xuse:annotation" minOccurs="0" maxOccurs="unbounded"/>
		   	    <xs:choice minOccurs="0" maxOccurs="unbounded">
		   		 <xs:element ref="xuse:p"/>
		   		 <xs:element name="img" type="xuse:imgType"/>
		   		 <xs:element name="section-ref" type="xuse:section-refType"/>
            	 <xs:group ref="xuse:referenceType-group"/>
            	 <xs:group ref="xuse:xhtml-subset"/>
            	 <xs:group ref="xuse:replacement-text-elements-group"/>
            	 <xs:any processContents="skip" namespace="##other"/>
        		</xs:choice>
			</xs:sequence>	
		</xs:choice>		
		<xs:attribute name="higlight" type="xs:boolean" use="optional"/>
		<xs:anyAttribute processContents="lax" namespace="##other"/>
    </xs:complexType>

    
    <xs:complexType name="imgType">
    	<xs:annotation>
    		<xs:documentation xml:lang="en-GB">Describes the inserion of an image into the document - note width/height and fit are mutually exclusive."</xs:documentation>
    	</xs:annotation>
      <xs:attribute name="id" use="optional"/>
    	<xs:attribute name="src" use="required"/>
    	<xs:attribute name="width" use="optional"/>
    	<xs:attribute name="caption" use="optional"/>
    	<xs:attribute name="height" use="optional"/>
    	<xs:attribute name="fit" use="optional">
    		<xs:simpleType>
    			<xs:restriction base="xs:string" >
    				<xs:enumeration value="true"/>
    				<xs:enumeration value="false"/>
    			</xs:restriction>
    		</xs:simpleType>
    	</xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="sectionType">
    	<xs:annotation>
			<xs:documentation xml:lang="en-GB">Represents a section of a document</xs:documentation>
    	</xs:annotation>
    	<xs:choice maxOccurs="unbounded">
    		<xs:group ref="xuse:content-containers"/>
    		<xs:group ref="xuse:content-markers"/>
    	</xs:choice>
    	<xs:attribute name="id" use="required" type="xs:string"/>
    	<xs:attribute name="title" use="required" type="xs:string"/>
    </xs:complexType>   
    
    <xs:complexType name="section-refType">
        <xs:annotation>
            <xs:documentation>when referencing another section</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="section-id" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>     
    
	<xs:group name="content-markers">
	   <xs:annotation>
					<xs:documentation xml:lang="en-GB">These are special placeholders to indicate where certain content should go - for instance a use case list</xs:documentation>
				</xs:annotation>
    	<xs:choice>
    		<xs:element name="feature-list"/>
    		<xs:element name="requirements-list">
    			<xs:complexType>
					<xs:attribute name="category" use="optional"/>
					<xs:attribute name="package" use="optional"/>
					<xs:attribute name="taxonomy" use="optional">
					   <xs:annotation>
                            <xs:documentation>Filter on custom taxonmy. Filter MUST be provided in the form "classifier=value"</xs:documentation>
                        </xs:annotation>
					</xs:attribute>
					<xs:attribute name="sort-order" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="id"/>
								<xs:enumeration value="title"/>
								<xs:enumeration value="package"/>
								<xs:enumeration value="category"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="level" use="optional">
						<xs:annotation>
							<xs:documentation>What level of requirement to show (level 1 are top level requirements, level 2 are more detailed requirements etc.). Requirements listed are all those up to including the level indicated - e.g. selecting level 2 will mean level 1 and level 2 requirements are shown. The level of a requirement is automaticall derived via the parent relationship.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute ref="xuse:detail" use="optional"/>
    			</xs:complexType>
    		</xs:element>
    		<xs:element name="use-case-list">
    			<xs:complexType>
					<xs:attribute name="package" use="optional"/>
					<xs:attribute name="complexity" use="optional"/>
					<xs:attribute name="priority" use="optional"/>
					<xs:attribute name="taxonomy" use="optional">
                       <xs:annotation>
                            <xs:documentation>Filter on custom taxonmy. Filter MUST be provided in the form "classifier=value"</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
					<xs:attribute ref="xuse:detail" use="optional"/>
					<xs:attribute name="sort-order" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="id"/>
                                <xs:enumeration value="name"/>
                                <xs:enumeration value="package"/>
                                <xs:enumeration value="priority"/>
                                <xs:enumeration value="complexity"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
    			</xs:complexType>
    		</xs:element>
    		<xs:element name="actor-list">
    			<xs:complexType>
					<xs:attribute ref="xuse:detail" use="optional"/>
    			</xs:complexType>
    		</xs:element>
    		<xs:element name="stakeholder-list">
    			<xs:complexType>
					<xs:attribute ref="xuse:detail" use="optional"/>
    			</xs:complexType>
    		</xs:element>
    	</xs:choice>
    </xs:group>
    
    <xs:group name="content-containers">
        <xs:choice>
            <xs:element ref="xuse:section"/>
            <xs:element ref="xuse:p"/>
            <xs:any processContents="lax" namespace="http://www.w3.org/2001/XInclude"/> 
            <xs:group ref="xuse:xhtml-block-elements"/>
            <xs:group ref="xuse:content-markers"/>
        </xs:choice>
    </xs:group>

	<xs:attribute name="detail">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="title-only"/>
				<xs:enumeration value="description"/>
				<xs:enumeration value="full"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	
</xs:schema>
